html, body, #root {
    min-height: 100%;
    height: 100%;
}

.search {
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.search input {
    margin-top: 60px;
    font-size: 20pt;
    border: 0;
    outline: 0;
    vertical-align: middle;
    background: transparent;
    border-bottom: 1px solid black;
    width: 60%;
    text-align: left;
}

.block {
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 50px;
}

.block .deny {
    border: 1px red;
}

.waitdiv {
    height: 100%;
    width: 100%;
    opacity: 0.5;
}
